<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="src/advanced.js"></script>    
</head>
<script type="module">    
    import filterClass from "/src/filter.js"
    window.filterClass = filterClass;
    document.addEventListener("DOMContentLoaded",advancedOnLoad)
</script>
<body>
    <div id="sectionMainTitle"><img src="img/icon/advanced.png" class="icon">Advanced</div>

    <!-- <p>
    <p>Input Channels</p>
    <p>Output Channels</p>
       
    
    </p>

    <div>Channel Mapping
        <p>Channel 1</p>
        <p>Sources and levels</p>
        <p>Channel 2</p>
        <p>Sources and levels</p>        
    </div> -->

    <div id="advancedFilters">

    </div>
<!-- 
    <div>
        Processors
        <p>Compressor {channels, attack, release, threshold, factor, makeup_gain, clip_limit, soft_clip, monitor channels [array], process_channels [array]}</p>
    </div>

    <div>Pipeline Managemet
        Ordering And Selection
        Visulaization
    </div> -->


</body>
</html>