<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="src/main.js" defer></script>
    <script type="module" src="src/knob.js"></script>
    <title>basic</title>

    <script type="module" >
        import EQKnob from '/src/knob.js';
        import camillaDSP from "/src/camillaDSP.js";
        
        const basicControls = document.getElementById('basicControls');

        // Connect to camillaDSP
        const DSP = new camillaDSP();
        let connected =await DSP.connect()
        
        
        // Create UI elements
        let vol = new EQKnob("Volume",31);
        let tone = new EQKnob("Tone",181);
        let balance = new EQKnob("Balance",181);
        
        basicControls.appendChild(vol.knob);
        basicControls.appendChild(tone.knob)
        basicControls.appendChild(balance.knob)

        let subBass = new EQKnob("Sub-bass",181);
        let bass = new EQKnob("Bass",181);
        let mids = new EQKnob("Mids",181);
        let upperMids = new EQKnob("Upper Mids",181);
        let treble = new EQKnob("Treble",181);

        // const toneControls = document.getElementById('toneControls');
        // toneControls.appendChild(subBass);
        // toneControls.appendChild(bass);
        // toneControls.appendChild(mids);
        // toneControls.appendChild(upperMids);
        // toneControls.appendChild(treble);

        // Load data from DSP
        DSP.sendDSPMessage("GetVolume").then(r=>{
            console.log("Volume:",r);
            let volMarker = r/3*10 + 181;
            vol.setVal(volMarker);
            console.log("Marker",volMarker)
        });

        vol.knob.addEventListener("change",function(e){
            const volume = (this.instance.getVal() -181)/10*3; // 3db change per every tick
            console.log("Vol:",volume);
            DSP.sendDSPMessage({"SetVolume":volume})
        })

        balance.knob.addEventListener("change",function(e){
            const bal = (this.instance.getVal() -181)/10*1; // 1db change per every tick
            console.log("Bal:",bal);
            DSP.setBalance(bal);
        })


        
    </script>
</head>
<body>    

    <%- include('plot.ejs'); %>

    <div class="group" id="basicControls">
    </div>    

    <div class="group" id="toneControls">

    </div>
</body>
</html>