<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>basic</title>
</head>
<body>
    

    <%- include('plot.ejs'); %>
</body>
</html>