<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>Connections</title>
    <script src="src/connections.js"></script>
    <link rel="stylesheet" href="css/connections.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>


    <div>
    <span>Active Connection</span> 
    <span>IP Address</span><span>10.0.0.76</span>
    <span>Port</span><span>1234</span>
    <span>Status</span><span>Connected</span>
    </div>

    <div>
        <span>Connection List</span>
        <select>

        </select>

    </div>



    
</body>
</html>
