<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>Connections</title>
    <script src="/src/camillaDSP.js" type="module">
    
    </script>
    <script src="/src/connections.js"></script>
    
    <link rel="stylesheet" href="css/connections.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div id="sectionMainTitle"><img src="img/icon/connections.png" class="icon">Connections</div>
    <script type="module" >
        import camillaDSP from "/src/camillaDSP.js"        
        window.camillaDSP = camillaDSP;
    </script>

        
    <script>
        async function connect() {
            const server = document.getElementById('server').value;        
            const port = document.getElementById('port').value;    
            const DSP = new camillaDSP();                

            let connected = await DSP.connect(server,port)
            if (connected) {
                window.localStorage.setItem("server",server);
                window.localStorage.setItem("port",port);            
            }

            let config =  await DSP.sendDSPMessage("GetConfigJson");
            config = camillaDSP.getDefaultConfig(config);
            if (config.pipeline[0].name!="recombine") config = camillaDSP.getDefaultConfig(config,true)

            DSP.sendDSPMessage({'SetConfigJson':JSON.stringify(config)}).then(r=>console.log(r)).catch(e=>console.log(e));
            let downLoadconfig = await DSP.sendDSPMessage("GetConfigJson");
            //console.log(downLoadconfig)
        }          


    </script>
    <div>
        <div><span>IP Address</span><input id="server" type="text" value="opizero2.local"></div>
        <div><span>Port</span><input id="port" type="text" value="1234"></div>
        <button onclick="connect()">Connect</button>        
    </div>
    <br>
    <div id="state"></div>




    
</body>
</html>
