<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>Connections</title>
    <script src="/src/camillaDSP.js" type="module">
    
    </script>
    <script src="/src/connections.js"></script>
    
    <link rel="stylesheet" href="css/connections.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div id="sectionMainTitle"><img src="img/icon/connections.png" class="icon">Connections</div>
    <script type="module" >
        import camillaDSP from "/src/camillaDSP.js"        
        window.camillaDSP = camillaDSP;
    </script>

        
    <script>
        async function connect() {
            const server = document.getElementById('server').value;        
            const port = document.getElementById('port').value;    
            const spectrumPort = document.getElementById('spectrumPort').value;    

            const DSP = new camillaDSP();                

            let state = document.getElementById("state");
            let connected = await DSP.connect(server,port,spectrumPort)
            console.log("Connection : ",connected)

            if (connected) {
                window.localStorage.setItem("server",server);
                window.localStorage.setItem("port",port);           
                window.localStorage.setItem("spectrumPort",spectrumPort);           
                console.log("Connected.") 
            } else {                            
                state.innerText="Can not connect to DSP. Make sure you got the corrent name or IP address and port, and the websocket server is enabled on external interface.";
                state.style.color="#C66";
                return -1;
            }

            
            let config =  await DSP.sendDSPMessage("GetConfigJson");                     
            if (config.pipeline==null || config.mixers==null || config.filter==null) config = camillaDSP.getDefaultConfig(config,true);
                        
            conencted = DSP.sendDSPMessage({"SetConfigJson":JSON.stringify(config)});            
            if (connected) {
                state.innerText="Connected.";
                state.style.color="#6C6";
            } else {
                state.innerText="Error uploading configuration.";
                state.style.color="#EC6";
            }            
            
            // state.innerText="Connected.";
            // state.style.color="#6C6";

            let int=setInterval(function(int){                            
                state.innerText='';                
                window.clearInterval(int);
            },5000);
            
        }          


    </script>
    <style>
        span, #state {
            text-align: left;
        }
    </style>
    <div>
        
        <div><span>IP Address</span><input id="server" type="text" value="opizero2.local"></div>
        <div><span>Audio Port</span><input id="port" type="text" value="1234"></div>
        <div><span>Spectrum Port</span><input id="spectrumPort" type="text" value="4321"></div>
        <div style="display: flex; justify-content: right; width: 277px"><button onclick="connect()">Connect</button>        </div>
    </div>
    <br>
    <div id="state"></div>




    
</body>
</html>
