<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <script src="camillaControl.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('header.ejs'); %>
<br><br>
<div class="section" id="deviceSettings">

</div>

</body>
</html>