<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <script src="camillaControl.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('header.ejs'); %>

<div class="section" id="deviceSettings">

</div>

</body>
<script>
    connectToDsp().then(()=>{    
    downloadConfigFromDSP().then((data=>{
       
        DSPConfig=data;
        settings = document.getElementById('deviceSettings');
        console.log(DSPConfig.devices);
        for (configItem of Object.keys(DSPConfig.devices)) {
            let p = document.createElement('p');
            let label = document.createElement('span');            
            let textBox = document.createElement('span')            

            label.innerText=configItem
            textBox.innerText= DSPConfig.devices[configItem];            
            p.appendChild(label);
            p.appendChild(textBox);
            settings.appendChild(p);

        }
    }))
})


</script>
</html>