<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <script src="camillaControl.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body onload="initEQ()">

    <%- include('header.ejs'); %>
    <div id="eqmain" class="section">      
        <div class="section" id="eqgraph">
            <canvas id="eqcanvas" width="100%" height="100%"></canvas>
        </div>
        <div class="section" id="equalizer"> 
            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">

            </div>
        
            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">

                
            </div>
        
            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>
        
            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>
        
            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>

            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>

            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>

            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>

            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>

            <div class="slider-container">
                <div class="slider-body">
                    <div class="slider-knob"> </div>
                </div>
        
                <input type="text" class="eqparam" value="200hz" id="freq">
                <input type="text" class="eqparam" value="0db" id="gain">
                <input type="text" class="eqparam" value="1.41" id="qfact">
            </div>
            <br><br>
            <div class="button" onclick="uploadClick()">Upload</div>
            <div class="button" onclick="downloadClick()">Download</div>
            
            <br><br>
            <input type="text" name="configName" id="configName">
            <div class="button" onclick="saveClick()">Save</div>
            <div class="button" onclick="deleteClick()">Delete</div>
            <div id="configList">
                <div class="config" id="0">Kiwi Ears Cadenza</div>
            </div>

        </div>

        <div class="section" id="eqtools">
            <div class="button" id="Flatten" onclick="flatten()">Flatten</div>
            <div class="button" id="Flatten" onclick="reset()">Reset</div>
            <div class="button" id="Compress" onclick="compress()">Compress</div>
            <div class="button" id="AddBand" onclick="addBand()">Add Band</div>            
        </div>
    </div>
    
    
    <br>
    
    <div id="levelBorder">
        <div id="levelBar"></div>
    </div>

    <div id="messageBox"></div>
    <div id="contextMenu">
        <div class="button small" id="contexMenuApply">Apply</div>
        <div class="button small" id="contextMenuDelete">Delete</div>
    </div>
<!-- 
    <input type="text" name="cmd" id="cmd">
    <input type="button" value="send" id="sendButton" onclick="sendCommand()">
    <div id="response"></div> 
-->

</body>


</html>