<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <script src="camillaControl.js"></script>
    <script src="equalizer.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body onload="initEQ()">

    <%- include('header.ejs'); %>
    <div id="eqmain" class="section">      

        <div class="section" id="eqLevel">            
            
            <div id="levelBorder">
                <div id="levelLBar" class="levelBar"></div>
            </div>                    
           <div id="levelBorder">
                <div id="levelRBar" class="levelBar"></div>
            </div>
        </div>
        <div class="section" id="eqgraph">
            <canvas id="eqcanvas" width="100%" height="100%"></canvas>
        </div>
        <div class="section" id="equalizer">         
        </div>

        <div class="section" id="eqtools">
            <div class="button" onclick="flatten()">Flatten</div>
            <div class="button" onclick="reset()">Reset</div>
            <div class="button" onclick="compress()">Compress</div>
            <div class="button" onclick="addBand()">Add Band</div>            
        </div>
        
        <div class="section" id="DSPManagement">
            <div class="button" onclick="uploadClick()">Upload</div>
            <div class="button" onclick="downloadClick()">Download</div>
        </div>        
        
        <div class="section" id="configManagement">
            <input type="text" name="configName" style="width:200px" id="configName">
            <div class="button" onclick="saveClick()">Save</div>
            <div class="button" onclick="deleteClick()">Delete</div>
        </div>

        <div id="configList">
            <div class="config" id="0">Kiwi Ears Cadenza</div>
        </div>



    </div>       
    
    
    <div id="messageBox"></div>
    <div id="contextMenu">
        <div class="button small" id="contexMenuApply">Apply</div>
        <div class="button small" id="contextMenuDelete">Delete</div>
    </div>
<!-- 
    <input type="text" name="cmd" id="cmd">
    <input type="button" value="send" id="sendButton" onclick="sendCommand()">
    <div id="response"></div> 
-->

</body>


</html>