<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="src/equalizer.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="sectionMainTitle"><img src="img/icon/equalizer.png" class="icon">Equalizer</div>
    
    <script type="module">
        import PEQline from '/src/PEQLine.js';
        import camillaDSP from "/src/camillaDSP.js";       
        import EQKnob from '/src/knob.js';
        import plot from '/src/eqplot.js';        
        import savedConfigs from "/src/savedConfigs.js";        
        
        window.savedConfigs = new savedConfigs();        
        window.PEQline = PEQline;
        window.camillaDSP = camillaDSP;                        
        window.EQKnob=EQKnob;
        window.plot = plot;               
    </script>

    <input type="button" onclick="DSP.sendDSPMessage('GetConfigJson').then(r=>console.log(JSON.stringify(r)));" value="Show Config">
    
    <!-- <input type="button" onclick="convertConfigs()" value="Convert Configs"> -->

    <div id="spectrum" class="group">
    </div>

    <%- include('plot.ejs'); %>    
    
    <div class="group" id="basicControls" label="Basic Controls"></div> 
    <div class="group PEQ" id="PEQ" label="Parametric EQ"></div>    

    
</body>
</html>