<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>    
    <script src="equalizer.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body onload="EQPageOnload()">

    <%- include('header.ejs'); %>
    <div id="eqmain" class="section">      

        <div class="section eqSection" id="eqLevel">            
            <div id="levelBorder">
                <div id="levelLBar" class="levelBar"></div>
            </div>                    
           <div id="levelBorder">
                <div id="levelRBar" class="levelBar"></div>
            </div>
        </div>

        <div class="section" id="eqgraph">
            <canvas id="eqcanvas" width="100%" height="100%"></canvas>
        </div>

        <div class="section eqSection" id="volumeControl">
            <span style="font-size: 14px; margin-left:6px; vertical-align: top;">Volume</span>
            <input type="range" name="" id="volumeControler" max="100" min="0">          
            <input type="text" name="volumeLevel" id="volumeLevel">
            <input type="checkbox" name="mute" id="mute"><span style="font-size: 14px; margin-left:6px; vertical-align: top;">Mute</span>
            <!-- <input type="checkbox" name="autoVolume" id="autoVolume"><span style="font-size: 14px; margin-left:6px; vertical-align: top;">Auto</span> -->
        </div>


        <div class="section eqSection" id="preampGain">
           <span style="font-size: 14px; margin-left:6px">Pre-amp</span><input type="text" name="" id="preampGainVal" class="eqparam" style="width:75px;margin-inline:10px; display: inline-block;">            
           <div id="clipped"> </div>            
           <div id="clippedMessage"></div>            
        </div>


        <div class="section" id="eqtools">
            <div class="button" onclick="flatten()">Flatten</div>
            <div class="button" onclick="reset()">Reset</div>
            <div class="button" onclick="compress()">Compress</div>
            <div class="button" onclick="addBand()">Add Band</div>            
            <div class="button" onclick="removeLast()">Remove Last</div>            
            <div class="button" onclick="sortByFreq()">I have OCD</div>             
        </div>

        

        <div class="section eqSection" id="equalizer">         
        </div>


        
        <div class="section " id="DSPManagement">
            <div class="button" onclick="uploadClick()">Upload</div>
            <div class="button" onclick="downloadClick()">Download</div>
            
            <div class="button" onclick="showAutoEQClick()">AutoEQ</div>            
            <div class="button" onclick="importClick()">Import</div>            
        </div>        
        
        <div class="section eqSection" id="configManagement">
            <input type="text" name="configName" id="configName">
            <input type="text" name="configShortcut" id="configShortcut" maxlength="1" onkeypress="this.value=event.key.toUpperCase();">
            <div class="button" onclick="saveConfigClick()">Save</div>
            <div class="button" onclick="deleteConfigClick()">Delete</div>            

            <div id="configList">                
            </div>
        </div>


    </div>       
    
    <div id="messageBox"></div>
    <div id="contextMenu">
        <div class="button small" id="contexMenuApply">Apply</div>
        <div class="button small" id="contextMenuDelete">Delete</div>
    </div>
<!-- 
    <input type="text" name="cmd" id="cmd">
    <input type="button" value="send" id="sendButton" onclick="sendCommand()">
    <div id="response"></div> 
-->

<dialog id="autoEQDialog">    
    <div id="autoEQWindow">
        <div>AutoEQ Search</div>
        <input type="text" name="" id="autoEQSearch" onkeydown="autoEQSearchKeyDown()">
        <div class="button" onclick="searchAutoEq()">Search</div>    
        <div class="button" onclick="refreshAutoEq()">Load Headphones</div>
        <div class="button" onclick="refreshAutoEqIEM()">Load IEMs</div>
        <div class="button" onclick="document.getElementById('autoEQDialog').close()">Close</div>
        <br>
        <div id="headphoneList">
        </div>
    </div>
</dialog>


<dialog id="importDialog">
    <div id="importWindow">
        <p>Import EQ settings from a text file. Please paste the text to import below.</p>
        <div class="button" onclick="importFromText()">Import</div>   
        <div class="button" onclick="document.getElementById('importDialog').close()">Close</div>   
        <div id="importText" contenteditable="true">
        </div>
    </div>
    
    
</dialog>


</body>


</html>