
<script src="autoeq.js"></script>
<script src="camillaControl.js"></script>
<script src="main.js"></script>


<div id="header" class="section">
    <div id="title">

        camillaNode
    </div> 
    <div class="menu">      
        <div class="menuItem" target="/server">DSP</div> 
        <!-- <div class="menuItem" target="/device">Device</div>  -->
        <div class="menuItem" target="/simple">Basic</div>            
        <div class="menuItem" target="/">Equalizer</div>         
        <div class="menuItem" target="/simple">Advanced</div>           
        <!-- <div class="menuItem" target="/plot">GraphEQ</div>          -->
        <div class="menuItem" target="/settings">Preferences</div>            
        
        <div id="state"></div>
        
    </div>
</div>    

<script>     
                
        // Apply styles from preferences 
        document.documentElement.style.setProperty('--header-hue',headerHue);
        document.documentElement.style.setProperty('--main-hue',mainHue);
        document.documentElement.style.setProperty('--eqparamFontSize',eqparamFontSize);
        document.documentElement.style.setProperty('--saturation',saturation+'%');
        document.documentElement.style.setProperty('--levelmeter_height',levelmeterHeight+'px');
        document.documentElement.style.setProperty('--configCount',configCount);
        
        // console.log("Header script")
        const menuItems = document.getElementsByClassName('menuItem')


        // console.log(menuItems)
        for (i=0;i<menuItems.length;i++) {            
            menuItems[i].addEventListener('click',function(){
                window.location.href=this.getAttribute('target');
            })
        }
    
</script>


