<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaNode</title>       
    
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div id="header" class="section">
            <div id="title" style="display: flex; align-items: center; justify-content: left;">
                <img src="img/icon.jpg" alt="" style="height: 50px; margin:10px">
                <span>CamillaNode</span>
            </div> 
        </div>    
    </header>

    <main>
        <section id="sectionLeft">
            <div class="navitage">Connections</div>
            <div class="navitage">Basic</div>
            <div class="navitage">Equalizer</div>
            <div class="navitage">Advanced</div>
            <div class="navitage">Settings</div>            
        </section>

        <section id="sectionMain">

        </section>
    </main>

</body>
</html>