<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaNode</title>       
    <script src="src/main.js" defer></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>

    <script type="module">
        import camillaDSP from "/src/camillaDSP.js";
        
        // Connect to camillaDSP
        const DSP = new camillaDSP();
        let connected =await DSP.connect()

        let version = document.getElementById('version')
        DSP.sendDSPMessage("GetVersion").then(r=>version.innerText="CamillaDSP Version "+r);

        

        setInterval(async ()=>{
            let status = document.getElementById('status')            
            DSP.sendDSPMessage("GetState").then(r=>status.innerText=r);                        
        },2000);

    </script>

    <header>
        <div id="header" class="section">
            <div id="title">
                <img src="img/icon.jpg" alt="" style="height: 50px; margin:10px">
                <span>CamillaNode</span>
            </div>             
        </div>    
        <div id="version"></div> 
        <div id="status"></div>
    </header>

    <main>
        <section id="sectionLeft">
            <span class="leftTitle">Navigation</span>
            <div class="navigate" target="/connections">Connections</div>
            <div class="navigate" target="/basic">Basic</div>
            <div class="navigate" target="/equalizer">Equalizer</div>
            <div class="navigate" target="/advanced">Advanced</div>
            <div class="navigate" target="/preferences">Preferences</div>            
            <br>
            <div id="savedConfig">
                <span class="leftTitle">Saved Configurations</span>
            </div>
        </section>

        <section id="sectionMain">
            <iframe id="mainframe" src="/equalizer" frameborder="0"></iframe>
        </section>
    </main>

</body>
</html>