
<script src="src/eqplot.js"></script>


<script defer>
    function grid() {
        const plotCanvas= document.getElementById('plotCanvas');
        createGrid(plotCanvas);          

        // mat = calculateFilterDataMatrix("peaking", 50, 6, 6);     
        // plotArray(plotCanvas,mat,"#F50",1);

        // mat = calculateFilterDataMatrix("peaking", 60, 6, 6);     
        // plotArray(plotCanvas,mat,"#F50",1);

        // mat = calculateFilterDataMatrix("peaking", 70, 6, 6);     
        // plotArray(plotCanvas,mat,"#F50",1);

        // mat = calculateFilterDataMatrix("peaking", 80, 6, 6);     
        // plotArray(plotCanvas,mat,"#F50",1);

        // mat = calculateFilterDataMatrix("peaking", 90, 6, 6);     
        // plotArray(plotCanvas,mat,"#F50",1);

        mat = calculateFilterDataMatrix("peaking", 100, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);

        mat = calculateFilterDataMatrix("peaking", 200, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);

        mat = calculateFilterDataMatrix("peaking", 1000, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);

        mat = calculateFilterDataMatrix("peaking", 2000, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);
        
        mat = calculateFilterDataMatrix("peaking", 10000, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);
        
        mat = calculateFilterDataMatrix("peaking", 11000, 6, 6);     
        plotArray(plotCanvas,mat,"#F00",2);
        console.log("Done.")


    }
</script>


<canvas id="plotCanvas" width="1024" height="500"></canvas>
<!-- <br>  <button onclick="grid()">Grid</button> -->