<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">    
</head>
<body>

    <div id="sectionMainTitle"><img src="img/icon/preferences.png" class="icon">Preferences</div>
    <div id="preferences">
        Open 
    </div>
    
</body>
</html>