<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">    
</head>
<body>

    <div id="sectionMainTitle"><img src="img/icon/preferences.png" class="icon">Preferences</div>
    <div id="preferences">
        
        <div>Default page on load</div> <div><input type="text" id="defaultPage"></div>
        <div>Enable spectrum analyzer</div> <div><input type="checkbox" name="" id=""></div>
        <div>Set pre-amp gain based on filters</div> <div><input type="checkbox" name="" id=""></div>
        

        
    </div>
    
</body>
</html>