<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">        
</head>

<script type="module">
    import preferences from '/src/preferences.js';
    window.pref = new preferences;    
    document.addEventListener("DOMContentLoaded",preferencesOnLoad);
</script>

<script>
    function preferencesOnLoad() {
        pref.createPreferencesElements(document.getElementById("preferences"))
    }

    function backgroundHueChange() {
        window.parent.document.documentElement.style.setProperty('--bck-hue',parseInt(this.value));
        window.parent.document.documentElement.style.setProperty('--hue-rotate',parseInt(this.value)-230+"deg");
        document.documentElement.style.setProperty('--bck-hue',this.value);        
    }

</script>

<body>

    <div id="sectionMainTitle"><img src="img/icon/preferences.png" class="icon">Preferences</div>
    <div id="preferences">        
    </div>
    
</body>
</html>