<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
</head>

<script type="module">
    import camillaDSP from "/src/camillaDSP.js"
    window.DSP = new camillaDSP();
</script>
<style>
    #spectrum {
        display: grid;        
        grid-template-columns: repeat(60,auto);        
        height: 300px;
        width: 620px;
        align-items:end;
        
    }

    .levelbar {        
        display: inline-block;        
        position: relative;
        width: 20px;
        height: 200px;
        margin-inline: 1px;
        font-size: 12px;
        /* background: linear-gradient(90deg,hsl(200, 100%, 25%),hsl(200, 100%, 15%));                 */
        background-color: hsl(200, 40%, 35%) ;        
        border-radius: 6px 6px 0 0;        
    }

    .levelbar::after{
        content: attr(freq);
        position: absolute;
        bottom: 0;
        left:50%;
        color:#888;
        background-color: none;
        font-size: 10px;
        transform: translateX(-50%);

    }

</style>
<body>
    <div id="sectionMainTitle"><img src="img/icon/room.png" class="icon">Room EQ</div>

    <br>
    <input type="button" value="Mixer Multi" onclick="">
    <input type="button" value="Check Levels" onclick="checkLevels()">

    <div id="spectrum">
    </div>

    <script>
        const  freq = ['25', '30', '40', '50', '63', '80', '100', '125', '160', '200', '250',
        '315', '400', '500', '630', '800', '1K', '1.2K', '1.6K', '2K', '2.5K',
        '3.1K', '4K', '5K', '6.3K', '8K', '10K', '12K', '16K', '20K']
    
        async function checkLevels(){          

            // Create bars
            const spec = document.getElementById("spectrum");   
            const barCount=freq.length-1;
            let bar;
            spec.innerHTML='';
            for (i=0;i<=barCount;i++){
                bar = document.createElement("div");
                bar.className='levelbar';
                // bar.classList.add(bar % 2==0)?'left':'right';
                bar.setAttribute('freq',freq[i]);
                spec.appendChild(bar);
            }

            await DSP.connect();
            
            setInterval(async function(){
                const spec = document.getElementById("spectrum");
                let r = await DSP.getSpectrumData();                
                let i=0, height, hue;
                spec.childNodes.forEach(e=>{
                    if (e.tagName=="DIV") {                         
                        height = 200 + (2*Math.round(r[i]));  
                        if (height<0) height=0;
                        if (height>200) height=0;                        
                        hue = -height;
                        e.style='height: '+height+'px; filter: hue-rotate('+hue+'deg);'   
                        i=i+2;
                    }                     
                })       
                        

            },100)
        }
    </script>

</body>
</html>

