<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <script src="camillaControl.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('header.ejs'); %>

<div class="section" id="settings">    
</div>

<div id="tooltip" class="tooltip"></div>
<script>

    loadPreferences();
    loadSettings();

    setInterval(function(){document.getElementById("tooltip").style.opacity='0'},3000);

    const inputElements = document.getElementsByTagName('input');
    for (i=0;i<inputElements.length;i++) {
        inputElements[i].addEventListener('input',function(){                        
            let val;            
            if (this.type=="checkbox") val=this.checked;            
            if (this.type=="range") val=this.value;

            let settingName=this.getAttribute('settingName');
            setSettingValue(settingName,val)
            console.log(settingName+" : " + val);            
            
            let toolTip = document.getElementById("tooltip");
            toolTip.style.opacity='1';
            toolTip.style.left=parseInt(this.getBoundingClientRect().right)+30+'px';
            toolTip.style.top=this.getBoundingClientRect().top-3+'px';
            toolTip.innerText=val;                                  

            window.localStorage.setItem('preferences',JSON.stringify(preferences));
        })

        document.getElementById('headerHue').addEventListener('input',function(){document.documentElement.style.setProperty('--header-hue',this.value)});
        document.getElementById('mainHue').addEventListener('input',function(){document.documentElement.style.setProperty('--main-hue',this.value)});
        document.getElementById('saturation').addEventListener('input',function(){document.documentElement.style.setProperty('--saturation',this.value+'%')});
    }
    

    window.localStorage.setItem('preferences',JSON.stringify(preferences));


</script>