@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bck-hue: 140;
    --bck-sat: 30%;
    --bck-light : 20%;
    --bck-color: hsl(var(--bck-hue),var(--bck-sat),var(--bck-light));   
    --bck-group: hsl(var(--bck-hue),var(--bck-sat),15%);  
    --hue-rotate: -90deg; 


    --font-size: 16px;
    --toolbar-width: 250px;

    --slider-width: 3em;
    --slider-height: 15rem;

    --levelbar-width: 31px;

    background-color:hsl(var(--bck-hue), var(--bck-sat), var(--bck-light));

    font-family: "Abel", sans-serif;
    font-size: var(--font-size);

    
    width: 100vw;
    height: 100vh;

    margin: 0px;
    border: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: hsl(var(--bck-hue), 35%, 15%);
}
 

::-webkit-scrollbar-thumb {
    background: hsl(var(--bck-hue), 25%, 10%);
}

body {    
    color: white;
    
} 

#logo {        
    filter: hue-rotate(var(--hue-rotate));
}

#mainBody {
    height: 100%;
    color: white;
    
    overflow: hidden;
}

header {
    display: block ;
    position: relative;
    font-size: x-large;
    height: 80px;
    align-items: center;
    padding-top:10px;
}

#title {
    display: flex; 
    align-items: center; 
    justify-content: left;
}

.smallInfo {
    display: block;
    width: 100%;
    height: 20px;
    font-size: 13px;
    color: hsla(0,100%,100%,30%);
    text-align: right;
    padding-right: 20px;      
    transform: translate(-15px, -45px);    
    
}

main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: var(--toolbar-width) auto;    
    grid-auto-rows: 100%;
    gap:0px;
    height: 90%;
}

section {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block: 20px;
    border-top: 1px solid #222;
}

#sectionMain {
    width: 100%;
    height: 100%;
}

#mainframe {    
    padding: 10px;
    width: 100%;           
    min-height: 100%;
    overflow-y: scroll;
}

#sectionMainTitle {        
    font-size: 30px;        
    margin-bottom: 20px;            
}

#sectionMainTitle img {
    height: 30px;
    filter: invert(1);    
    padding-right: 15px;
    transform: translateY(5px);
}

#sectionLeft {    
    margin: 0px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;        
    border-right: 1px solid #222;    
    
}

.leftTitle {
    font-size: 18px;
    height: 30px;
    padding-inline: 10px;
    padding-block: 5px;    
    font-weight: 500;            
    text-align: left;       
    user-select: none;
    border-bottom: 1px solid hsla(0,100%,100%,25%);
    margin-top: 50px;
}

.leftTitle:first-of-type {
    margin-top: 0;
}

.navigate {   
    display: flex;
    height: 20px;     
    font-size: 15px;
    padding:10px;    
    cursor:pointer;    
    transition: all linear 250ms;        
    align-items: center;
    padding-bottom: 15px;    
    user-select: none;
}

.navigate:hover {    
    background-color: hsl(var(--bck-hue), 35%, 15%); 
    color: hsl(calc( 180 + var(--bck-hue)), 75%, 65%); 
}

.navigate img {        
    height: 20px;
    filter:invert(0.75);    
    transition: all linear 300ms;    
    padding-right: 5px;    
}

.navigate:hover img {         
    filter:invert(1);    
}


dialog {
    position: absolute;    
    left: 50%;
    top: 50%;
    background-color: var(--bck-color);
    border-radius: 10px;
    border: none;
    overflow: auto;
    color: white;    
}

dialog::backdrop {
    background-color: hsla(calc( 180 + var(--bck-hue)), 20%, 15%, 0.75);
}

dialog .navigate {
    background-color: hsl(var(--bck-hue), 75%, 10%);     
    display: inline-flex;
    justify-content: center;
    max-width: fit-content;
    min-width: 100px;
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.button {
    display: inline-block;
    line-height: 2;    
    height: 30px;
    width: 100px;
    font-size: 14px;
    background-color: hsl(var(--bck-hue), var(--bck-sat), 40%);    
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;        
    user-select: none;
}

.button:hover {
    filter: hue-rotate(30deg) saturate(150%);
    transition: all 350ms;
}

.small {
    font-size:10px;
    width: 60px;
    margin: 2px;
}


canvas {    
    /* background:linear-gradient(45deg,var(--bck-color),#222); */
    --hue1: calc(45 + var(--bck-hue));
    --hue2: calc(135 + var(--bck-hue));
    --col1: hsla(var(--bck-hue),30%,5%,90%);
    --col2: hsla(var(--bck-hue),30%,15%,90%);
    /* background-image: linear-gradient(135deg,var(--col1),var(--col2));     */
    background-image: linear-gradient(45deg,hsl(var(--bck-hue), 35%, 15%) ,hsl(var(--bck-hue), 45%, 10%));    
    border-radius: 10px;     
    transform-origin: 0 0;
    transform: scale(1);    
}

.group {
    position: relative;
    margin-block: 10px;
    background-image: linear-gradient(45deg,hsl(var(--bck-hue), 35%, 15%) ,hsl(var(--bck-hue), 45%, 10%));    
    display: block;
    border-radius: 10px;    
    padding-bottom: 10px;    
    margin-right: 10%;
}

.group::before {
    content: attr(label);
    display: block;      
    font-size: 1.2rem;        
    background-color: hsl(var(--bck-hue), 45%, 10%);
    color: white;  
    border-radius: 10px 10px 0 0 ;    
    padding-left: 10px;
    padding-block: 5px;        
    
}


input {
    border-radius: 5;
    max-width: none;
}

select {
    width: var(--param-width);
    border: none;
    appearance: none;
    border-radius: 5px;
}


/*************************************************************************************************/

.knob {             
    --bck: 120;       
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1;
    margin: 15px;
    margin-top: 35px;
    border-radius: 50%;
    background:hsl(var(--bck), 30%, 70%);   
    border: 0px solid 333;    
    box-shadow: 0px 0px 8px 0px hsl(var(--bck), 30%, 70%); 
}

.knob::before {
    content: attr(label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-25px;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #DDD;
    text-wrap: nowrap;
}

.knobHead {
    display: block;
    width: 85%;
    height: 85%;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(#777,#555);     
    border: none;             
    cursor:grabbing;
    box-shadow: inset 0px -3px 1px 1px #222;    
}

.knobHeadDot {         
    content: '';       
    display: block;        
    background:#999;
    border-radius: 0%;
    width: 3%;
    height: 12%;      
    position: absolute;  
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    transform-origin: 0px -180%;      
}

.knobVal {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    opacity: 1;
    transition: all 1000ms;
}

/**************************************** SLIDER ****************************************************************************/

.sliderBody {
    --bar-width: 10px;
    --slider-width: calc(2 * var(--bar-width));    
    --body-width: calc(30px + var(--slider-width));
    --param-width: calc(-5px + var(--body-width));
    display: inline-block;
    width: var(--body-width);
    height: 200px;        
    
}

.sliderBody:first-of-type {
    margin-left: 10px;
}

.bar {
    position: relative;
    left: 50%;
    top: 50%;
    width:var(--bar-width);
    height: 90%;
    border-radius: 10px;
    background-color: hsl(var(--bck-hue),var(--bck-sat),40%);
    transform: translate(-50%,-50%);
    margin-bottom: 25px;
}

.slider {    
    position: relative;
    width:var(--slider-width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--bck-hue),var(--bck-sat),70%);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peqParam {    
    display: flex;       
    justify-content: center;
    margin-top: 10px;
    appearance: none;
    width: var(--param-width);            
    font-size: 13px;
    cursor: pointer;
    border: none; 
    background-color: #DDD;
    color: black;
    border-radius: 2px;
    padding:0px;
    padding-block: 2px;        
    text-align: center;
}

#indicators {
    display: flex;
    position: absolute;
    left: 250px;
    bottom: 0px;
    line-height: 1.5;    
    font-size: 13px;
}

.indicator {      
    color: #ffffff75;    
    width: 100px;
    height: 20px;
    text-align: center;
    border-right: 1px solid #666;
    cursor:hand;    
    
}

#indicators div:last-of-type {
    border-right: none;
}

.indicator-off {
    color: #424942; 
}

.indicator-on {
    color: white
}

.indicator-alarm {
    color: #dd490e;
}

/********************************************** PEQLINE *************************************************************************/
.peqline {
    display: flex;
    justify-content: left;    
    align-items: center;
    overflow-y: hidden;
    margin-left: 10px;
    margin-right: 5px;
    padding-block: 5px;
    font-size: 15px;           
}

.peqline:first-of-type {
    margin-top: 10px;
}


.peqline input, select, span {
    height: 20px;
    max-width: none;
    text-align: center;
}

.peqline input:hover, input:focus, select:hover {
    background-color: hsl(var(--bck-hue), 50%, 70%)
}

.peqline input[type="text"] {    
    margin-right: 10px;
    appearance: none;    
    border: none;
    border-radius: 3px;    
}

input[type="checkbox"] {    
    position: relative;
    appearance: none;
    width: 35px;    
    height: 20px;    
    border-radius: 5px;
    background-color: hsl(var(--bck-hue), 10%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;     
    padding: 0px;    
    transition: all 300ms linear;
}


input[type="checkbox"]:checked {
    background-color: hsl(var(--bck-hue), 50%, 80%);
    transition: all 300ms linear;
}


input[type="checkbox"]::before {    
    content: " ";
    position: absolute;
    left: 1px;    
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: hsl(var(--bck-hue), 20%, 20%);
    transition: all 300ms linear;
}

input[type="checkbox"]:checked::before {
    content: " ";
    position: absolute;
    left: 1px;    
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: hsl(var(--bck-hue), 60%, 50%);
    transition: all 300ms linear;
    transform: translateX(15px);
}
    

input[type="checkbox"]:disabled {
    background-color: darkgray;
}

input[type="checkbox"]:disabled::before {
    content: " ";
    position: absolute;
    left: 1px;    
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: gray;
}

.peqline select {
    width: 40px;
    text-align: center;
    appearance: none;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
}
.peqline span {
    width: 4.5rem;
    margin-inline: 10px;
    user-select: none;
    text-align: end;
}

.peqline input[type="button"] {
    appearance: none;
    border: none;
    width: 20px;
    border-radius: 3px;
    margin-inline: 5px;
    font-weight: bold;
    text-align: center;
}

#freq {
    width: 8em ;
}

#gain {
    width: 4em ;
}

#qfact {
    width: 4em ;
}

.peqbutton {
    content: ' ';
    display: inline-block;    
    filter: invert(.5);
    width: 20px; 
    height: 20px;  
    padding-left: 20px;  
    cursor: pointer;
}

.peqbutton:hover {
    filter: invert(1);
}

.add {
    background: no-repeat center url("/img/icon/add.png");
}

.remove {
    background: no-repeat center url("/img/icon/remove.png");    
}




/************************************************* DIALOGUES *********************************************************************/

.dialogueWindow {   
    /* display: block;
    background-color: black; */
    width: 350px;
    height: 500px;
    overflow: hidden;
    transform: translate(-50%,-50%);
}


#manageConfigs {
    /* display: block;
    border: 1px solid white; */
    transform: translate(-50%, -50%);
}

#configList {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;    
    background-color: hsl(var(--bck-hue),var(--bck-sat), 40%);    
    border-radius: 5px;    
    width: 100%;
    height: 350px;
    margin-top: 20px;
    overflow-y: scroll;
}

#configName {
    padding: 5px;
    width:80%;    
    max-width: unset;
    font-size: 14px;
    border-radius: 5px;
    flex:1;
}

.config {
    font-size: 16px;    
    cursor: pointer;    
    user-select: none;
    border-radius: 5px;    
    padding: 5px;        
    height: 25px;    
}

.config:hover {
    color: #222;   
    background-color: hsl(var(--bck-hue), var(--bck-sat), 80%);    
    transition: all 250ms;    
}

.config::before {
    content: url('/img/headphone.png');
    filter: invert(1);
    margin-right: 5px;
}



#importWindow {
    transform: translate(-60%, -50%);
    width: 30vw;
}

#importWindow input {
    max-width: unset;   
}

#importText {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;   
    height: 450px;     
    background-color: hsl(var(--bck-hue),var(--bck-sat), 35%);    
    border-radius: 7px;    
    margin: 15px;
    color:white;
    
}

/***************************************************** SPECTRUM *******************************************************************/

#spectrum {
    display: grid;        
    grid-template-columns: repeat(60,auto);        
    height: 250px;    
    align-items:end;
    padding-left: 5px;
}

#spectrum::before {
    content: "";
    display: none;
}

.levelbar {        
    display: flex;        
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-items: baseline;
    position: relative;
    width: var(--levelbar-width);
    height: 240px;
    margin-inline: 2px;    
    font-size: 11px;
    background-color: hsla(160, 50%, 50%,10%) ;        
    border-radius: 4px;        
    transform: rotate(180deg);
}

.levelbar::after{
    content: attr(freq);
    position: absolute;
    bottom: 0;    
    color:#666;
    background-color: none;
    font-size: 13px;
    transform: translateX(-50%);
    transform: rotate(180deg);
}

.levelbox {
    width: 100%;
    height:5px;
    margin: 0px;
    background-color: gold;
    opacity: 0;
    margin-block: 2px;
    border-radius: 5px;
    transition: all 50ms;
}

/**********************************************************************************************************/


#eqTools {
    display: none;
}

.tools {
    display: flex;
    flex-direction: column;
}

.tools .navigate {
    width: 300px;
}

#preamp {
    margin-left: 10px;    
    width: 40px;
}


/********************************************* PREFERENCES ************************************************/

.preferenceSection {
    position: relative;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
    margin-bottom: 50px;
    width: 100%;
}

.preferenceSection::before {
    grid-column: 1 / span 2;
    content: attr(label);
    list-style:circle;
    font-size: 25px;
    font-weight: 400;
    color: white;
    display: inline-block;    
    top:0;
    height: 40px;                 
}

.preferenceSection input[type="text"], select {
    display: relative;
    max-width: 100px;
    height: 18px;
    text-align: left;
}

.preferenceSection input[type="range"] {
    max-width: 200px;
}

.preferenceName {
    margin-block: 3px;
    /* border: 1px solid red; */
}

#backgroundHue {
    appearance: none;
    background: linear-gradient(90deg,hsl(0, 70%, 40%),hsl(155, 70%, 40%),hsl(330, 70%, 40%));
    border: 0px solid white;
    border-radius: 5px;
    height: 10px; 
}


#headphoneList {
    display: block;
    margin-top: 10px;    
    width: auto;
    height: 500px;
    overflow-y: scroll;
    background-color: hsl(var(--bck-hue),var(--bck-sat), 35%);    
}

#autoEQDialog {
    height: 600px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/************************************************* Advanced / Filters **********************************************/

#advancedFilters {
    position: relative;
    display: block;    
    font-size: 13px;
}

.filterChannel {
    display: grid;
    grid-template-rows: 1fr;            
    grid-auto-flow: column;
    gap: 5px;        
    width: inherit;
    overflow-x: scroll;
    margin-block-end: 10px;    
    padding-bottom: 10px;
    scrollbar-width: thick;
    scrollbar-color: hsl(var(--bck-hue), 60%, 20%);   
}

.filterChannel::before {
    position: absolute;
    left: 0px;
    top: inherit;
    content: attr(label);
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;     
    height: 75px;
    width: 20px;
    margin-right: 10px;
    background-color: hsl(var(--bck-hue), 60%, 20%);  
    z-index: 1;
}

.filterElement {            
    margin: 0px;    
    padding: 0px;
    padding-left: 10px;
    width: max-content;
    align-items: center;    
    user-select: none;
    border:1px solid hsl(var(--bck-hue), 20%, 40%);    
    border-radius: 5px;
}

.filterElement:first-of-type {
    margin-left: 40px;
}

.filterElement:last-of-type {
    margin-right: 20px;
}

.filterElement:hover {
    filter: brightness(1.3);
}

.filterBasic {
    display: flex;
    height: 35px;
    padding-block: 5px;
    align-items: center;
    margin-left: -10px;
}

.filterBasic >  select, input, span {
    margin-inline: 5px;
    margin-block: 5px;        
}

.filterName {    
    background-color: hsl(var(--bck-hue), 50%, 80%);   
    color: black;
    font-size: 13px;
    height: 22px;
    min-width: 120px;
    border-radius: 5px;  
    padding-left: 5px;  
}

.filterElement select, input, span {
    margin-inline: 5px;
    margin-block: 5px;        
}

.filterBasic > select {
    max-width: 120px;
    background-color: hsl(var(--bck-hue), 50%, 80%);
    height: 25px;
}

.filterParams {
    display: flex;         
    align-items: center;
    background-color: hsl(var(--bck-hue), 20%, 20%);    
    height: 35px;        
    margin-left: -10px;
    padding-right: 5px;        
}

.filterParams div, input {
    margin-left: 5px;
    margin-block: 5px;
    height: 22px;
    max-width: 40px;        
}

.filterParams span {
    font-size: 13px;    
    max-width: 120px;
}


.pipelineChannel {
    display: grid;
    grid-template-rows: 1fr;            
    grid-auto-flow: column;
    justify-content: left;
    gap: 5px;        
    width: inherit;
    overflow-x: scroll;
    margin-block-end: 10px;    
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    scrollbar-width: thick;
    scrollbar-color: hsl(var(--bck-hue), 60%, 20%);   

}

.pipelineChannel::before {
    position: absolute;
    left: 0px;
    top: inherit;
    content: attr(label);
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;       
    height: 100px;  
    width: 20px;
    background-color: hsl( calc( 20 + var(--bck-hue)), 50%, 30%);  
    z-index: 1;
}

.pipelineElement {            
    margin: 0px;    
    padding: 0px;
    padding-left: 10px;
    width: 100px;
    align-items: center;    
    user-select: none;
    border:1px solid hsl(var(--bck-hue), 20%, 40%);    
    border-radius: 5px;
}

.pipelineElement:hover {
    filter:brightness(1.25) saturate(1.25);
}

.pipelineElement:last-of-type {
    margin-right: 60px;
}

#pipelineContainer{
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;
    padding-right: 0px;
}

.inputNode, .outputNode  {
    background-color: hsl(calc( 10 + var(--bck-hue)), 50%, 40%);
}

.mixerNode {
    background-color: hsl(calc( 10 + var(--bck-hue)), 40%, 30%);
}

.filterNode {
    background-color: hsl(calc( 10 + var(--bck-hue)), 30%, 30%);
}

 .mixer {
    margin-top: 10px;    
    justify-content: left;
    align-items: center;    
    border: 1px solid hsl(var(--bck-hue), 10%, 50%);
    border-radius: 7px;
    background-color: hsl(var(--bck-hue), 40%, 20%);
    margin-bottom: 5px;
    margin-inline: 5px;
    width: calc( 50% - 10px );
}

.mixerTitle {
    display: inline-block;
    height: 20px;
    width: calc( 100% - 10px );
    margin: 0px;    
    padding: 5px;
    text-align: left;  
    border-radius: 7px 7px 0px 0px;  
    background-color: hsl(calc( 15 + var(--bck-hue)), 40%, 15%);    
}

.mixerSource {
    display: flex;        
    align-items: center;
    background-color: hsl(calc( 15 + var(--bck-hue)), 40%, 20%);
    border-radius: 0px 0px 7px 7px;    
}

.mixerSource span {
    margin-inline: 10px;
}
/********************************************************************************************************/


#connectionsSection #server {
    max-width: unset;
}

.pipe {
    display: flex;    
    margin: 10px;
    border: 1px solid red;
    align-items: center;
}

.pipe:first-of-type {
    margin-top: 10px;
}

#pipeContextMenu {    
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;    
    width: 150px;
    border-radius: 7px;
    background-color: hsl(var(--bck-hue), 30%, 20%); ;
    border: 1px solid hsl(var(--bck-hue), 20%, 10%); 
}

#pipeContextMenu .navigate {
    font-size: 14px;    
    height: 18px;
}

