@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bck-hue: 180;
    --bck-sat: 20%;
    --bck-light : 20%;
    --bck-color: hsl(var(--bck-hue),var(--bck-sat),var(--bck-light));   
    --bck-group: hsl(var(--bck-hue),var(--bck-sat),15%);   


    --font-size: 16px;
    --toolbar-width: 200px;

    font-family: "Abel", sans-serif;
    font-size: var(--font-size);

    
    width: 100vw;
    height: 100vh;

    margin: 0px;
    border: 0px;
    padding: 0px;


}

body {
    width: 100vw;
    height: 100vh;
    background-color:var(--bck-color);
    color: white;
    margin: 0px;
    overflow: hidden;
}

header {
    display: flex;
    font-size: x-large;
    height: 100px;
    align-items: center;
}

main {
    margin-top: 15px;
    display: grid;
    grid-template-columns: var(--toolbar-width) auto;    
    grid-auto-rows: 100%;
    gap:0px;
    border: none;
    height: 100%;   

}

section {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block: 20px;
    border-top: 1px solid #222;
    
}

#sectionLeft {    
    margin-left: 10px;
    display: block;    
    padding-block: 20px;
    border-right: 1px solid #222;    
}

.navigate {
    margin:15px;
    cursor:pointer;    
    transition: all 300ms;
}

.navigate:hover {    
    color: hsl(var(--bck-hue),var(--bck-sat),60%);
}

.icon {        
    width: 30px;        
}

#mainframe {    
    padding: 15px;
    width: 100%;    
    height: 90%;
    overflow-y: scroll;
}

canvas {
    margin-block: 15px;
    background-color: var(--bck-group);
    border-radius: 10px; 
    /* box-shadow: 5px 5px 5px #111;         */
}

.group {
    margin-block: 10px;
    background-color: var(--bck-group);
    display: block;
    border-radius: 10px;
    width: 1024px;
    padding-bottom: 10px;
}


/*************************************************************************************************/

.knob {             
    --bck: 120;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 70px;
    aspect-ratio: 1;
    margin: 15px;
    margin-top: 35px;
    border-radius: 50%;
    background:hsl(var(--bck), 30%, 70%);   
    border: 0px solid 333;    
    box-shadow: 0px 0px 8px 0px hsl(var(--bck), 30%, 70%); 
}

.knob::before {
    content: attr(label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-25px;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #DDD;
    text-wrap: nowrap;
}

.knobHead {
    display: block;
    width: 85%;
    height: 85%;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(#777,#555);     
    border: none;             
    cursor:grabbing;
    box-shadow: inset 0px -3px 1px 1px #222;    
}

.knobHeadDot {         
    content: '';       
    display: block;        
    background:#999;
    border-radius: 0%;
    width: 3%;
    height: 12%;      
    position: absolute;  
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    transform-origin: 0px -180%;      
}

.knobVal {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    opacity: 1;
    transition: all 1000ms;
}

/********************************************************************************************************************/