@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bck-hue: 140;
    --bck-sat: 30%;
    --bck-light : 20%;
    --bck-color: hsl(var(--bck-hue),var(--bck-sat),var(--bck-light));   
    --bck-group: hsl(var(--bck-hue),var(--bck-sat),15%);   


    --font-size: 16px;
    --toolbar-width: 250px;

    --slider-width: 3em;
    --slider-height: 15rem;

    font-family: "Abel", sans-serif;
    font-size: var(--font-size);

    
    width: 100vw;
    height: 100vh;

    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {    
    color: white;
} 

#mainBody {
    height: 100%;
    color: white;
    background-color:var(--bck-color);    
    overflow: hidden;
}

header {
    display: block ;
    font-size: x-large;
    height: 80px;
    align-items: center;
    padding-top:10px;
}

#title {
    display: flex; 
    align-items: center; 
    justify-content: left;
}

.smallInfo {
    display: block;
    width: 100%;
    height: 20px;
    font-size: 13px;
    color: hsla(0,100%,100%,30%);
    text-align: right;
    padding-right: 20px;      
    transform: translate(-15px, -45px);    
    
}

main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: var(--toolbar-width) auto;    
    grid-auto-rows: 100%;
    gap:0px;
    height: 90%;
}

section {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block: 20px;
    border-top: 1px solid #222;
}

#sectionMain {
    width: 100%;
    height: 100%;
}

#mainframe {    
    padding: 10px;
    width: 100%;           
    min-height: 100%;
    overflow-y: scroll;
}

#sectionMainTitle {        
    font-size: 30px;        
    margin-bottom: 20px;            
}

#sectionMainTitle img {
    height: 30px;
    filter: invert(1);    
    padding-right: 15px;
    transform: translateY(5px);
}

#sectionLeft {    
    margin: 0px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;        
    border-right: 1px solid #222;    
    
}

.leftTitle {
    font-size: 18px;
    height: 30px;
    padding-inline: 10px;
    padding-block: 5px;    
    font-weight: 500;            
    text-align: left;       
    user-select: none;
    border-bottom: 1px solid hsla(0,100%,100%,25%);
    margin-top: 50px;
}

.leftTitle:first-of-type {
    margin-top: 0;
}

.navigate {   
    display: flex;
    height: 20px;     
    font-size: 15px;
    padding:10px;    
    cursor:pointer;    
    transition: all linear 250ms;        
    align-items: center;
    padding-bottom: 15px;    
    user-select: none;
}

.navigate:hover {    
    background-color: hsl(var(--bck-hue), 35%, 15%); 
    color: hsl(var(--bck-hue), 75%, 45%); 
}

.navigate img {        
    height: 20px;
    filter:invert(0.75);    
    transition: all linear 300ms;    
    padding-right: 5px;    
}

.navigate:hover img {         
    filter:invert(1);    
}


dialog {
    position: absolute;    
    left: 50%;
    top: 50%;
    background-color: var(--bck-color);
    border-radius: 10px;
    border: none;
    overflow: auto;
    color: white;
}

dialog::backdrop {
    background-color: hsla(289, 24%, 13%, 0.5);
}

dialog .navigate {
    background-color: hsl(var(--bck-hue), 75%, 10%);     
    display: inline-flex;
    justify-content: center;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
}

.button {
    display: inline-block;
    line-height: 2;    
    height: 30px;
    width: 100px;
    font-size: 14px;
    background-color: hsl(var(--bck-hue), var(--bck-sat), 40%);    
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;        
    user-select: none;
}

.button:hover {
    filter: hue-rotate(30deg) saturate(150%);
    transition: all 350ms;
}

.small {
    font-size:10px;
    width: 60px;
    margin: 2px;
}


canvas {    
    /* background:linear-gradient(45deg,var(--bck-color),#222); */
    --hue1: calc(45 + var(--bck-hue));
    --hue2: calc(135 + var(--bck-hue));
    --col1: hsla(var(--bck-hue),30%,5%,90%);
    --col2: hsla(var(--bck-hue),30%,15%,90%);
    /* background-image: linear-gradient(135deg,var(--col1),var(--col2));     */
    background-image: linear-gradient(45deg,hsl(var(--bck-hue), 35%, 15%) ,hsl(var(--bck-hue), 45%, 10%));    
    border-radius: 10px;     
    transform-origin: 0 0;
    transform: scale(1);    
}

.group {
    margin-block: 10px;
    background-image: linear-gradient(45deg,hsl(var(--bck-hue), 35%, 15%) ,hsl(var(--bck-hue), 45%, 10%));    
    display: block;
    border-radius: 10px;
    width: 1024px;
    padding-bottom: 10px;
}

.group::before {
    content: attr(label);
    display: block;      
    /* background-color: #113311; */
    color: white;  
    border-radius: 10px 10px 0 0 ;    
    padding-left: 10px;
    padding-block: 5px;    
}

/*************************************************************************************************/

.knob {             
    --bck: 120;       
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1;
    margin: 15px;
    margin-top: 35px;
    border-radius: 50%;
    background:hsl(var(--bck), 30%, 70%);   
    border: 0px solid 333;    
    box-shadow: 0px 0px 8px 0px hsl(var(--bck), 30%, 70%); 
}

.knob::before {
    content: attr(label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-25px;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #DDD;
    text-wrap: nowrap;
}

.knobHead {
    display: block;
    width: 85%;
    height: 85%;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(#777,#555);     
    border: none;             
    cursor:grabbing;
    box-shadow: inset 0px -3px 1px 1px #222;    
}

.knobHeadDot {         
    content: '';       
    display: block;        
    background:#999;
    border-radius: 0%;
    width: 3%;
    height: 12%;      
    position: absolute;  
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    transform-origin: 0px -180%;      
}

.knobVal {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    opacity: 1;
    transition: all 1000ms;
}

/**************************************** SLIDER ****************************************************************************/

.sliderBody {
    --bar-width: 10px;
    --slider-width: calc(2 * var(--bar-width));    
    --body-width: calc(30px + var(--slider-width));
    --param-width: calc(-5px + var(--body-width));
    display: inline-block;
    width: var(--body-width);
    height: 200px;        
    
}

.sliderBody:first-of-type {
    margin-left: 10px;
}

.bar {
    position: relative;
    left: 50%;
    top: 50%;
    width:var(--bar-width);
    height: 90%;
    border-radius: 10px;
    background-color: hsl(var(--bck-hue),var(--bck-sat),40%);
    transform: translate(-50%,-50%);
    margin-bottom: 25px;
}

.slider {    
    position: relative;
    width:var(--slider-width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--bck-hue),var(--bck-sat),70%);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peqParam {    
    display: flex;       
    justify-content: center;
    margin-top: 10px;
    appearance: none;
    width: var(--param-width);            
    font-size: 13px;
    cursor: pointer;
    border: none; 
    background-color: #DDD;
    color: black;
    border-radius: 2px;
    padding:0px;
    padding-block: 2px;        
    text-align: center;
}

select {
    width: var(--param-width);
    border: none;
    appearance: none;
}

/********************************************** PEQLINE *************************************************************************/
.peqline {
    display: flex;
    justify-content: left;    
    align-items: center;
    overflow-y: hidden;
    margin-left: 10px;
    margin-right: 5px;
    padding-block: 5px;
    font-size: 15px;           
}

.peqline:first-of-type {
    margin-top: 10px;
}


.peqline input, select, span {
    height: 20px;
    text-align: center;
}

.peqline input:hover, input:focus, select:hover {
    background-color: hsl(var(--bck-hue), 50%, 70%)
}

.peqline input[type="text"] {    
    margin-right: 10px;
    appearance: none;    
    border: none;
    border-radius: 3px;    
}

.peqline input[type="checkbox"] {    
    position: relative;
    appearance: none;
    width: 20px;    
    aspect-ratio: 1;    
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.peqline input[type="checkbox"]:hover {        
    background-color: hsl(var(--bck-hue), 50%, 70%);    
}

.peqline input[type="checkbox"]::before {    
    content: " ";
    position: absolute;
    transform:scale(0);
    width: 50%;
    height: 50%;
    background-color: hsl(var(--bck-hue), 35%, 35%); 
    border-radius: 2px;
    transition: all 200ms linear;
}

input[type="checkbox"]:checked::before {
    transform: scale(1) rotate(90deg);
  }
    
.peqline select {
    width: 40px;
    text-align: center;
    appearance: none;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
}
.peqline span {
    width: 4.5rem;
    margin-inline: 10px;
    user-select: none;
    text-align: end;
}

.peqline input[type="button"] {
    appearance: none;
    border: none;
    width: 20px;
    border-radius: 3px;
    margin-inline: 5px;
    font-weight: bold;
    text-align: center;
}

#freq {
    width: 8em ;
}

#gain {
    width: 4em ;
}

#qfact {
    width: 4em ;
}

.peqbutton {
    content: ' ';
    display: inline-block;    
    filter: invert(.5);
    width: 20px; 
    height: 20px;  
    padding-left: 20px;  
    cursor: pointer;
}

.peqbutton:hover {
    filter: invert(1);
}

.add {
    background: no-repeat center url("/img/icon/add.png");
}

.remove {
    background: no-repeat center url("/img/icon/remove.png");    
}


/************************************************* DIALOGUES *********************************************************************/
#importWindow {        
    color: white;            
    width: 40vw;
    height: fit-content;
    transform: translate(-50%, -50%); 
}

#importWindow .navigate {
    height: 15px;
}

#importText {        
    font-family: 'Courier New', Courier, monospace;       
    background-color: hsl(var(--bck-hue), var(--bck-sat),10%);
    border-radius: 5px;    
    margin: 15px;
    color:white;
    min-height: 300px;
    width: 35vw;
    padding: 5px;    
}

#importText:focus {
    appearance: none;
}

/***************************************************** SPECTRUM *******************************************************************/

#spectrum {
    display: grid;        
    grid-template-columns: repeat(60,auto);        
    height: 250px;    
    align-items:end;
}

.levelbar {        
    display: flex;        
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-items: baseline;
    position: relative;
    width: 31px;
    height: 238px;
    margin-inline: 1px;
    font-size: 12px;
    background-color: hsl(160, 20%, 15%) ;        
    border-radius: 4px;        
    transform: rotate(180deg);
}

.levelbar::after{
    content: attr(freq);
    position: absolute;
    bottom: 0;    
    color:#666;
    background-color: none;
    font-size: 13px;
    transform: translateX(-50%);
    transform: rotate(180deg);
}

.levelbox {
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: gold;
    opacity: 0;
    margin-block: 2px;
    border-radius: 4px;
    transition: all 100ms;
}
