@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    font-family: 'Abel', sans-serif;
    --default-font-size: 16px;

    font-size: var(--default-font-size);

    --header-hue: 210;
    --main-hue: 210;
    --saturation: 50%;

    

    --body-bgcolor1: hsl(var(--main-hue), 5%, 20%);
    --body-bgcolor2: hsl(var(--main-hue), 5%, 25%);

    --eqmain-width: 650px;

    --slider-width: 3.4em;
    --slider-height: 15rem;


    --header-bgcolor2: hsl(var(--header-hue), 50%, 40%);
    --header-bgcolor1: hsl(var(--header-hue), 30%, 20%);

    --eqparamFontSize: 13px;

    --error-background: hsl(0, 70%, 50%);
    --error-color: #FFFFFF;

    --success-background: hsl(175, 70%, 20%);
    --success-color: #fff;

    overflow-x: hidden;
}

body {    
    font-family: inherit;
    background: linear-gradient(135deg, var(--body-bgcolor1), var(--body-bgcolor2));    
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

input, select {
    font-family: 'Abel', sans-serif;
    font-style:normal;
}

.section {    
    height: auto;    
    padding: 0.5rem;
}

.eqSection {    
    border: 1px solid hsl(var(--main-hue), 5%, 15%);    
    border-radius: 7px;
    margin-inline: 10px;
    background-color: hsl(var(--main-hue), 10%, 20%);        
}
/* .eqSection::after {
    position: relative;
    display: flex;
    content: ' ';
    width:10px;
    aspect-ratio: 1;    
    left: -10px;
    top: -100%;   
    background-color: yellow; 
    border-radius:2px ;
} */

#header {
    display: block;

    background: linear-gradient(45deg, var(--header-bgcolor1), var(--header-bgcolor2));
    height: max(5vh,65px);
}

#title {
    font-size: 24px;
    font-weight: bold;
    display: block;  
    padding: auto;

}

.menu {
    display: flex;
    margin: 3px;    
}

.menuItem {
    margin: 1rem;    
    width: 100px;
    display: inline;
    font-size: 16px;
    cursor: pointer; 
    padding-bottom: 1rem;   
}

.menuItem:hover {
    color:rgb(255, 186, 161);      
    transition: all 250ms;    
}

#state {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
}

#levelBorder {
    margin-inline: 1rem;
    width: 98%;
    height: 15px;
    border: 1px solid white;
    --bar-saturation: calc(var(--saturation) + 20%);
    --color-1 : hsl(0,var(--bar-saturation),50%);
    --color-2 : hsl(60,var(--bar-saturation),50%);
    --color-3 : hsl(120,var(--bar-saturation),50%);

    background: linear-gradient(90deg, var(--color-1),var(--color-2),var(--color-3) );
    margin: 5px;
    transform: rotate(180deg);
    border-radius: 5px;
    filter:saturate(50%);
}

.levelBar {
    position: relative;        
    right: 0px;
    max-width: calc(var(--eqmain-width));
    height: 15px;    
    opacity: 90%;
    background-color: var(--body-bgcolor1); 
    border-radius: 5px 0px 0px 5px;        
}


#eqmain {
    display: grid;
    width: var(--eqmain-width);
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;     
}

#eqgraph {
    display: none;
    grid-column: 1/ span 2 ;    
    height: 300px;
}


#equalizer {
    display: block;
    padding-bottom: 20px;
    padding-left: auto;
}

#equalizer select {
    background-color: hsl(var(--main-hue), 100%, 93%);
    height: 20px;
    width: 50px;    
}

#eqcanvas {
    border: 1px solid white;
    width:  max(700px,30vw);
    height: 100%;
}

#eqtools {
    display: flex;
    width: 100%   
}


#configManagement {
    border: 1px solid white;
    border-radius: 7px;
    margin-inline: 10px;
    height: fit-content;

}

#configName {
    border-radius: 5px;
    border: none;
    padding: 3px;
    font-weight: bold;
    font-size: 14px;
}

#configList {    
    margin-block: 10px;
    border: 1px solid #555;
    padding: 0.5rem;
    width: var(--eqmain-width);
    height: calc( 10 * var(--default-font-size));
    overflow-y: scroll;
    background-color: hsl(var(--main-hue), var(--saturation), 40%);
    border-radius: 10px;

}

.config {
    font-size: var(--default-font-size);
    cursor: pointer;
    padding: 0.2rem;
    user-select: none;
    border-radius: 5px;
}

.config:hover {
    color: #222;   
    background-color: hsl(var(--main-hue), var(--saturation), 80%);    
    transition: all 250ms;    
}

.config::before {
    content: url('headphone16.png');
    margin-right: 5px;  

}

#infoBar {
    display: grid;
    grid-template-rows: 30% 50% 30%;
}


#messageBox {
    position:absolute;    
    display: none;    
    left: 50%;
    top: 50%;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: #234e7a;
    color:white;        
    z-index: 0;    
}

#contextMenu {
    position: absolute;
    display: none;       
    z-index: 0;
}

/******************************** SLIDER ********************************************/

.slider-container {
    margin-top: 0.5rem;
    position: relative;
    width: var(--slider-width);
    height: var(--slider-height);        
    display: inline-block;    
    align-items: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.slider-body {
    position: relative;
    width: 20%;
    height: 100%;
    left:50%;    
    background-color: hsl(var(--main-hue), var(--saturation), 40%);
    border-radius: 20px;
    transform: translateX(-50%);
}

.slider-knob { 
    position:relative;    
    width: 200%;
    aspect-ratio: 1;
    background-color: #DDD; /*#5588BB;*/
    border-radius: 50%;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    transition: all 350ms;
    cursor:grabbing;
}

.eqparam {    
    display: flex;   
    appearance: none;
    justify-content: center;
    margin-top: 10px;
    appearance: none;
    width: 45px;    
    height: 15px;
    font-size: var(--eqparamFontSize);
    cursor: pointer;
    border: none; 
    background-color: #DDD;
    color: black;
    border-radius: 3px;
    padding:2px;    
    text-align: center;
}

.eqparam:hover {
    background-color: #FFF;
}

#serverSettings {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100px 150px;
    gap: 1rem;
}

#serverSettings input[type="button"] {
    margin-top: 1rem;
    width: 50%;
    margin-left: 50%;
}

#serverSettings input[type="text"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

#serverSettings input[type="text"]:hover {
    background-color: #FFF;
}
.button {
    display: inline-block;
    line-height: 2;
    min-height: 30px;    
    width: 100px;
    font-size: 14px;
    background-color: hsl(var(--main-hue), var(--saturation), 40%);
    appearance: none;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;        
    user-select: none;
}

.button:hover {
    filter: hue-rotate(180deg) saturate(150%);
    transition: all 350ms;
}

.small {
    font-size:10px;
    width: 60px;
    margin: 2px;
}

#deviceSettings {
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
}



/************************************************************ AUTOEQ *************************************************************/

#autoEQWindow {
    position:absolute;
    background-color: #222;
    left: 50%;
    top:50%;
    display: none;
    border: 1px solid white;
    width: 40vw;
    height: 60vh;
    padding: 10px;
    border-radius: 7px;
    transform: translate(-50%,-50%);    

}

#headphoneList {
    margin-top: 10px;
    display: block;
    width: 97%;
    height: 85%;
    overflow: scroll;
    background-color: #369;
}

.hpVisible {
    display: inline-block;
}

.hpHidden {
    display: none;
}

#settings {
    margin:10px;
    margin-top: 20px;
}

.settingsGroup {    
    display: grid;
    grid-template-columns: 300px auto;    
    gap: 20px;
    font-size: 16px;    
}

.settingsGroupTitle {    
    grid-column: span 2;
    font-size: 25px;
    font-weight: bold;
}

#settings p {
    display: block;
    font-size: 14px;
    font-weight: normal;
}

#settings input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;    
    border-radius: 7px;
    width: 30px;
    height: 16px;
    border: 1px solid gray;
    background-color: hsl(0, 30%, 27%);
    transition: all 250ms;
}

#settings input[type="checkbox"]:before {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 7px;
    display: block;
    background-color: white;    
    transition: all 250ms;
}

#settings input[type="checkbox"]:checked:before {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 7px;
    display: block;
    background-color: white;        
    transform: translateX(100%);
    transition: all 250ms;
}


#settings input[type="checkbox"]:checked {        
    background-color: hsl(120, 30%, 40%);
    transition: all 500ms;
}


#settings input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;    
    background-color: hsl(var(--main-hue), 30%, 40%);
    border-radius: 7px;
    height: 8px;
    width: 300px;    

}

#settings input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: hsl(var(--main-hue), var(--saturation), 55%);
    height: 24px;
    width: 12px;    
 }

 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 5px; /*Removes default border-radius that FF applies*/
    background-color: hsl(var(--main-hue), var(--saturation), 55%);
    height: 24px;
    width: 12px;
    
}

#settings hr {
    margin-block: 20px;
}

.tooltip {
    position: absolute;
    top:100px;    
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;          
    transition: opacity 500ms;
}

.disappearAnimation {
    animation-name: disappear; 
    animation-duration: 2s;
    animation-iteration-count: 1;    
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% { opacity: 1;} 
    75% {opacity: 1;}   
    100% { opacity: 0;}    
}